<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxedapps.SharedShopping">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.maxedapps.activities.ListOverviewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.maxedapps.activities.ListViewActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.maxedapps.activities.ListOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.max.shopper.ListOverview" />
        </activity>
        <activity
            android:name="com.maxedapps.activities.EditListActivity"
            android:label="@string/title_activity_edit_list_1"
            android:noHistory="true"
            android:parentActivityName="com.maxedapps.activities.ListOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.max.shopper.ListOverviewActivity" />
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>
